@model Drocsid.Models.CommentModel
<div class="commentform">
    <h3>Оставить комментарий</h3>
    @using (Html.BeginForm("AddComment", "Forum", FormMethod.Post, new { @class = "comment", @name = "go"}))
    {   
        <p>@Html.LabelFor(m => m.Text)</p>
        @Html.TextAreaFor(m => m.Text, 8, 80, new { })
        @Html.ValidationMessageFor(m => m.Text)
        <p><input id="go_reg" type="submit" name="" value="Отправить"></p>
    }

</div>
<script>
    document.forms.go.onsubmit = function () {
        var text = document.getElementById("Text").value;
        if (text != null && !hasWhiteSpaces(text)) {
            if (text.length >= 3) {
                return true;
            } else {
                alert("Длина  должна быть больше 3");
                return false;
            }
        } else {
            alert("Длина комметария должна быть больше 3");
            return false;
        }
    }

    function hasWhiteSpaces(s) {
        return s.indexOf(' ') >= 0;
    }
</script>
