@model IEnumerable<Entities.Comment>

@foreach(var c in Model)
{
<div class="topic">
    <div class="user">
        <h4><a href="">@c.Author</a></h4>
            @*<img src="~/Content/images/1.jpg" alt="">*@
            @Html.Action("UserInfo", "Forum", new { userName = c.Author})
    </div>
    <div class="text">
        @c.Text
    </div>
</div>
}

