@model Entities.User


    <div class="userinfo">
        <p>@Html.GravatarImage(Model.Email, cssClass:"gravatar img-responsive")</p>
        <p class="name">Регистрация:</p>
        <p class="data">20.01.2016</p>
        <p class="name">На форуме:</p>
        <p class="data">1д 21ч 10м</p>
        <p class="name">Сообщений:</p>
        <p class="data">@Model.Messages</p>
    </div>


