
@{
    ViewBag.Title = "Section";
    Layout = "~/Views/MasterView.cshtml";
}

<div class="content">
    <div class="section">
        <h3 class="link"><a href="">Раздел 1</a></h3>
        <div class="section_content">
            <div class="topic">
                <div class="image">
                    <img src="images/1.jpg" alt="">
                    <div class="topic_content">
                        <a href="@Url.Action("Topic", "Forum")">Тема1</a>
                    </div>
                    <div class="author">
                        <a href="#">NesQ1k</a>
                    </div>
                    <div class="date">
                        07.05.2018
                    </div>
                </div>
            </div>
            <div class="topic">
                <div class="image">
                    <img src="images/1.jpg" alt="">
                    <div class="topic_content">
                        <a href="#">Тема1</a>
                    </div>
                    <div class="author">
                        <a href="#">NesQ1k</a>
                    </div>
                    <div class="date">
                        07.05.2018
                    </div>
                </div>
            </div>
            <div class="topic">
                <div class="image">
                    <img src="images/1.jpg" alt="">
                    <div class="topic_content">
                        <a href="#">Тема1</a>
                    </div>
                    <div class="author">
                        <a href="#">NesQ1k</a>
                    </div>
                    <div class="date">
                        07.05.2018
                    </div>
                </div>
            </div>
            <div class="topic">
                <div class="image">
                    <img src="images/1.jpg" alt="">
                    <div class="topic_content">
                        <a href="#">Тема1</a>
                    </div>
                    <div class="author">
                        <a href="#">NesQ1k</a>
                    </div>
                    <div class="date">
                        07.05.2018
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

