
@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/MasterView.cshtml";
}

<div class="content">
    <h2>Тема 1</h2>
    <div class="topic">
        <div class="user">
            <h4>
                <a href="">NesQ1k</a></h6>
                <img src="~/Content/images/1.jpg" alt="">
                <div class="userinfo">
                    <p class="name">Регистрация:</p>
                    <p class="data">20.01.2016</p>
                    <p class="name">На форуме:</p>
                    <p class="data">1д 21ч 10м</p>
                    <p class="name">Сообщений:</p>
                    <p class="data">253</p>
                </div>
        </div>
        <div class="text">
            Здравствуй, дорогой пользователь. Добро пожаловать в подраздел: "Герои: общие обсуждения". Как видно из названия, основная часть вопросов и проводимых дискуссий будет посвящена героям, важной составляющей частью игры. Давайте обсудим наиболее часто задаваемые направления и приоритетные вопросы, которые будут в этом подразделе.

            1) Обсуждение сборок героев, скилл билдов, актуальность талантов.
            2) Механики и тактики: максимальное получение опыта на том или ином герое, обсуждение микро и макро моментов.
            3) Сила героев и их сравнение. Сюда можно отнести вариацию "какой герой сильнее / лучше" при тех или иных ситуациях. Обсуждение и роль того или иного персонажа в мете.
            4) Нестандартная дота. Разрешено обсуждать нестандартные билды, позиции героев и необычные тактики. Предлагать и навязывать свою позицию можно только с прикреплением собственного DB, подтверждающего вашу необычную идею.
            5) Тонкости, нюансы, фишки, секреты и геймплей за того или иного героя.

        </div>
    </div>
    <div class="topic">
        <div class="user">
            <h4>
                <a href="">NesQ1k</a></h6>
                <img src="~/Content/images/1.jpg" alt="">
                <div class="userinfo">
                    <p class="name">Регистрация:</p>
                    <p class="data">20.01.2016</p>
                    <p class="name">На форуме:</p>
                    <p class="data">1д 21ч 10м</p>
                    <p class="name">Сообщений:</p>
                    <p class="data">253</p>
                </div>
        </div>
        <div class="text">
            Здравствуй, дорогой пользователь. Добро пожаловать в подраздел: "Герои: общие обсуждения". Как видно из названия, основная часть вопросов и проводимых дискуссий будет посвящена героям, важной составляющей частью игры. Давайте обсудим наиболее часто задаваемые направления и приоритетные вопросы, которые будут в этом подразделе.

            1) Обсуждение сборок героев, скилл билдов, актуальность талантов.
            2) Механики и тактики: максимальное получение опыта на том или ином герое, обсуждение микро и макро моментов.
            3) Сила героев и их сравнение. Сюда можно отнести вариацию "какой герой сильнее / лучше" при тех или иных ситуациях. Обсуждение и роль того или иного персонажа в мете.
            4) Нестандартная дота. Разрешено обсуждать нестандартные билды, позиции героев и необычные тактики. Предлагать и навязывать свою позицию можно только с прикреплением собственного DB, подтверждающего вашу необычную идею.
            5) Тонкости, нюансы, фишки, секреты и геймплей за того или иного героя.
            ррррррррррррррррррррррррррррррррррр ррррррррррррррррррррррррррррррррррррррр ррррррррррррррррррввввввввввв ввввввввввввввв
        </div>
    </div>
    <div class="commentform">
        <h3>Оставить комментарий</h3>
        <form class="comment" action="Topic.html" method="post">
            <p><label for="text">Ваш комментарий</label></p>
            <textarea name="text" rows="8" cols="80"></textarea>
            <p><input id="go_reg" type="submit" name="" value="Отправить"></p>
        </form>
    </div>
</div>
