
@{
    ViewBag.Title = "RadioBot";
    Layout = "~/Views/MasterView.cshtml";
}

<div class="content">
    <h2>Радио бот</h2>
    <div class="holder">
        <div class="room_content" id="player">
            <div class="RP_player_5 horizontal"><div class="rp-header"><a href="https://radiopotok.ru/" target="_blank">Radio online</a></div></div>
            @*<script type="text/javascript" src="//yandex.st/jquery/1.8.2/jquery.min.js"></script>*@
            <script async type="text/javascript" src="//radiopotok.ru/f/script5/8ce27b9d78f2921f0912899fc2feb3ec.js" charset="UTF-8"></script>
        </div>
    </div>
   
    <div class="chat" id="messages"></div>
    @if (User.Identity.IsAuthenticated)
    {
        <input type="button" id="enter" value="Войти в чат">
        <div class="chat_form">
            <input type="text" name="name" value="" id="message" />
            <input id="go_reg" type="button" value="Отправить" />
        </div>
    }
    else
    {
        <div class="chat_form">Для отправки сообщений вы должны быть авторизованы</div>
    }


</div>


<script type="text/javascript">
    var username = "@User.Identity.Name";
    var socket,
        $txt = document.getElementById('message'),
        $messages = document.getElementById('messages');

    var chat = $.connection.chatHub1;

    chat.client.onConnected = function (message) {
        var data = JSON.parse(message);
        currentId = data.CurrentId
        console.log(currentId);
        $('#messages').html('<p>Добро пожаловать ' + data.Username + '</p>')
    }

    $('#enter').click(function () {
        $('.chat').css('display', 'inline-block');
        $('.chat_form').css('display', 'inline-block');
        $('#mute').css('display', 'inline-block');
        $('#unmute').css('display', 'inline-block');
        $('#enter').hide();
        $.connection.hub.start().done(function () {
            chat.server.connect(username);
        });

    });


    $('#go_reg').click(function () {
        $.connection.hub.start().done(function () {
            if ($txt.value.length > 0) {
                chat.server.send(JSON.stringify({ Type: 0, VideoId: "", currentId: "", nextId: "", Value: $txt.value, Username: username })).done(function () {
                    $txt.value = '';
                });
            }
        });
    });

    chat.client.addMessage = function (message) {
        var el = document.createElement('p');
        var data = JSON.parse(message);
        if (data.Type == 0) {
            el.innerHTML = data.Username + ": " + data.Value;
            $messages.appendChild(el);
        }
    };

        window.onload = function () {
            var scrollinDiv = document.getElementById('messages');
            setInterval(function () {
                scrollinDiv.scrollTop = 9999;
            }, 100);
        }

</script>