body {
   background-color: #e5dfdf;
}

.logo {
  margin: 0 auto;
  text-align: center;
}
#menu1{
    position:relative;
    display:block;
    width:70%;
    margin: 0 auto;
    z-index:10;
}
#menu1 ul{

    position: relative;
    list-style-type: none;
    padding: 0;
    background-color: #333;
    display: block;
    }
    #menu1  ul:after{
        display:block;
        width:100%;
        height:0px;
        clear:both;
        content:" ";
    }

.left {
  float: left;
}

.right {
  float: right;
}
        #menu1 ul li{
            position:relative;
            display:block;
            width:auto;
            height:auto;
        }
            #menu1 ul li a{
                display:block;
                padding:9px 25px 0px 25px;
                font-size:16px;
                font-family:Arial, sans-serif;
                color:#ffffef;
                line-height:1.3em;
                text-decoration:none;
                font-weight:bold;
                text-transform:uppercase;
                height:36px;
                box-sizing:border-box;
            }
            #menu1 ul li > a:hover, #menu1 ul li:hover > a{
                background:#111;
            }

#menu1 ul li ul{
    position:absolute;
    top:36px;
    left:0px;
    display:none;
    width:200px;
    background:#333;
}
#menu1 ul li:hover ul{display:block;}

        #menu1 ul li ul li a{
            display:block;
            text-transform:none;
            height:auto;
            padding:7px 25px;
            width:100%;
            box-sizing:border-box;
        }
        #menu1 ul li ul li a:hover{
            background:#111;
        }

.content {
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
  background-color: #333;
  padding-top: 10px;
}

.content h2 {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.game {
  display: block;
}
#game2, #game3 {
  display: none;
}

.games_menu {
  display: table-row;

}

.games_menu li {
  display: table-cell;
  width: auto;
}

.games_menu li a {
  display: table-cell;
  width: 2000px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  border-bottom: 3px solid #5f84c1;
  padding: 10px 0;
}

.games_menu li a:hover {
  background: #000;
}

.active {
  background: #5f84c1;
}


.streamer {
  margin: 20px;
  width: 100px;
  height: 62px;
  border-radius: 2px;
  display: inline-grid;
}

.block {
  position: relative;
  width: 100px;
  height: 62px;
  background: #000;
  top: -100%;
  opacity: 0.5;
  display: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
}

.streamer:hover .block {
  display: block;
}

.game img {
  border-radius: 5px;
}

/*Регистрация*/


.reg {
  padding: 10px 50px;
  font-family: arial;
  font-weight: bold;
  color: #fff;
}
.reg p {
  padding-bottom: 20px;
}

#go_reg {
  background: #fff;
  border:none;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 1000;
  color: #fff;
  background: #5f84c1;
  font-size: 15;
}

#go_reg:hover {
  background: #000;
}

.reg input {
  width: 200px;
  height: 25px;
}
.reg label {
  display: inline-block;
  width: 9%;
}

/*ТЕМА*/

.topic {
  display: inline;
}

.image img {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.topic {
  margin-bottom: 10px;
}

.image {
  background: #252626;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.topic_content {
  display: inline-block;
  position: absolute;
}

.topic_content a {
  text-decoration: none;
  font-weight: 1000;
  font-family: arial;
  color: #6a7c99;
}

/*.topic_content a:active {
  color: #6a7c99;
}*/

.topic_content a:hover {
  color: #fff;
}

.author {
  display: inline-block;
}

.author a {
  text-decoration: none;
  font-size: 12px;
  font-family: arial;
  color: #7e8f9e;
}

.author a:hover {
  color: #fff;
}

.date {
  font-size: 12px;
  font-family: arial;
  color: #7e8f9e;
}

.date {
  display: inline-block;
}

/*Форум*/

.section {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section h3 {
  background-color:  #777578;
  font-family: sans-serif;
  text-align: center;
  border-radius: 5px 5px 0 0;
  height: 30px;
  padding-top: 11px;
}



.section a {
  text-decoration: none;
  color: #d0cdd1;
}

.section .link:hover a {
  color:#fff;
}


.section .image {
  width: 99%;
}

/*Тема*/
.topic {
  padding: 10px;
}

.user {
  background: #4a4a4a;
  width: 19%;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  font-family: sans-serif;
  margin-left: 10px;
  margin-bottom: 30px;
}

.user a {
  text-decoration: none;
  color: #16f734;
}

.user a:hover {
  color: #fff;
}

.text {
  display: inline-block;
  width: 75%;
  padding: 10px;
  margin-left: 5px;
  border: 1px solid black;
  background: #4a4a4a;
  color: #c9c7c7;
  font-family: arial;
  float: right;
  margin-right: 10px;
  word-wrap: break-word;
}

.userinfo {
  color: #c9c7c7;
  font-size: 13;
}

.name {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-bottom: 2px;
}

.data {
  display: inline-block;
  float: right;
  margin-right: 5px;
  margin-bottom: 2px;
}

.commentform {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;

}

.commentform h3 {
  text-align: center;
  color: #fff;
}

.comment {
  margin-left: 25%;
}

.comment p {
  color: #fff;
}

/*Комната*/

.room_content {
  margin-left: 100px;
  width: 50%;
  height: 400px;
  background: red;
  display: inline-block;
}

.chat {
  margin-left: 30px;
  background: #625C5C;
  width: 300px;
  height: 320px;
  display: inline-block;
  position: absolute;
  color: white;
  font-family: Arial;
  font-size: 13;
  padding: 10px;
  overflow: scroll;
}

 .chat p {
  display: inline-block;
  margin-bottom: -7px;
}

.chat_form {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 50px;
  margin-left: 30px;
  top: -16px;
}

#input {
  width: 210px;
}
.chat_form input {
  height: 40px;
}

.chat_form #go_reg {
  width: 106px;
}
