<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f6d9d100-9da6-4ff4-919d-d1137e2b4bf9/resourceGroups/DrocsidResourceGroup/providers/Microsoft.Web/sites/Drocsid</ResourceId>
    <ResourceGroup>DrocsidResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://drocsid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>drocsid.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Drocsid</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Drocsid</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="kek" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=True;User ID=DrocsidAdmin;Password=Goshak_1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Dal.SampleContext, Dal" MigrationConfiguration="Dal.Migrations.Configuration, Dal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SampleContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=True;User ID=DrocsidAdmin;Password=Goshak_1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|DrocsidDB1.mdf;Initial Catalog=DrocsidDB1;Integrated Security=True;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SampleContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS; AttachDbFilename=|DataDirectory|DrocsidDB1.mdf;  Initial Catalog=DrocsidDB1; Integrated Security=True;Persist Security Info=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Web" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=True;User ID=DrocsidAdmin;Password=Goshak_1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=False;User ID=DrocsidAdmin;Password=Goshak_1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Web_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=False;User ID=DrocsidAdmin;Password=Goshak_1998;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30; " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Web-Web.config Connection String">
      <ParameterValue>data source=tcp:drocsidserver.database.windows.net,1433;initial catalog=DrocsidDB;persist security info=True;user id=DrocsidAdmin;password=Goshak_1998;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="kek-Web.config Connection String">
      <ParameterValue>Data Source=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=True;User ID=DrocsidAdmin;Password=Goshak_1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SampleContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:drocsidserver.database.windows.net,1433;Initial Catalog=DrocsidDB;Persist Security Info=True;User ID=DrocsidAdmin;Password=Goshak_1998;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="kek" />
  </ItemGroup>
</Project>